<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Registrar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
  <form>
    <div class="input-group" lines="full">
      <ion-item>
        <ion-label position="floating">Nome Completo:</ion-label>
        <ion-input type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Email:</ion-label>
        <ion-input type="email" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Senha:</ion-label>
        <ion-input type="password" required></ion-input>
      </ion-item>

    </div>

    <ion-row>
      <ion-col>
        <br>
        <!-- BUTTON FAZER LOGIN -->
        <ion-button [routerLink]="['/home']" type="submit" color="primary" expand="block">CADASTRAR</ion-button><br>
       
      
      </ion-col>
    </ion-row>
    
  </form>
  </div>
</ion-content>