<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">

    <ion-row>
      <ion-col class="ion-no-padding">
        <ion-img style="height: 80px;" src="assets/images/login.png"></ion-img>
      </ion-col>
    </ion-row>

    <BR>

    <form [formGroup]='authForm' (submit)='clickLogin()'>
      
      <!-- INPUTS -->

      <div class="input-group" lines="full">
        <!-- NOME SE ESTIVER LOGADO ACESSA O CONTAINER -->
        <ng-container *ngIf='!configs.isSignIn'>
          <ion-item>
            <ion-label position="floating">Nome</ion-label>
            <ion-input type="text" formControlName='name'></ion-input>
            <ion-note slot='end' *ngIf="name.dirty && name.hasError('requerid')">Required</ion-note>
            <ion-note slot='end' *ngIf="name.dirty && name.hasError('minlength')">Mínimo 3 caracteres!</ion-note>
          </ion-item>
        </ng-container>

        <!-- E-MAIL -->
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" formControlName='email'></ion-input>
          <ion-note slot='end' *ngIf="email.dirty && email.hasError('requerid')">Required</ion-note>
          <ion-note slot='end' *ngIf="email.dirty && email.hasError('email')">E-mail no formato Invalido</ion-note>
        </ion-item>

        <!-- SENHA -->
        <ion-item>
          <ion-label position="floating">Senha</ion-label>
          <ion-input type="password" formControlName='password'></ion-input>
          <ion-note slot='end' *ngIf="password.dirty && password.hasError('requerid')">Required</ion-note>
          <ion-note slot='end' *ngIf="password.dirty && password.hasError('minlength')">Mínimo 6 caracteres!</ion-note>
        </ion-item>
      </div>
      
      <ion-grid>
        <ion-row>
          <ion-col>
            <div class="ion-text-center">

              <!-- SIGN UP-->
              <ng-container *ngIf='!configs.isSignIn'>
                <!-- BUTTON CADASTRO -->
                <ion-button color="danger">CADASTRAR</ion-button><br>
              </ng-container>

              <!-- BUTTON FAZER LOGIN FACEBOOK -->
              <ion-button [routerLink]="['/home']" font-size="small" type="submit" color="primary" [hidden]='!configs.isSignIn'>
                <ion-icon name="logo-facebook"></ion-icon>&nbsp;&nbsp;
                  Login com Facebook
              </ion-button>

              <!-- BUTTON LOGIN E-MAIL -->
              <ion-button [disabled]='authForm.invalid' [routerLink]="['/home']" type="submit" color="primary" [hidden]='!configs.isSignIn' >Entrar</ion-button><BR><BR>
              
              <!-- ESQUECEU A SENHA -->
              <small>
                <div [routerLink]="['/recuperacao-de-senha']">Esqueceu seus dados de login?<br>
                  <a>Obtenha ajuda para entrar.</a>
                </div>
              </small><br>

              <!-- BUTTON INSCREVA-SE -->
              <ion-button [routerLink]="['/registro']" color="danger">Inscreva-se</ion-button>

            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

    </form>
  </div>
</ion-content>